:root {
    --c1: #00cd56;

    --c1-bg: #242f3a;
    --c1-txt: #fff;

    --c2-bg: #00cd56;
    --c2-txt: #1f1f1f;

    --c3-bg: #d8d8d8;
    --c3-txt: #0c0c0c;
    --c3-txt2: #00cd56;

    --c4-bg: #292d3e;
    --c4-txt: #d8d8d8;

    --c5-bg: rgba(31, 31, 31, 0.815);

    --c6-bg: #40c886;
    --c6-txt: #ffffff;
}

/* FOR PANEL */
:root {
    --danger: #c71c22;
    --info: #2fa4e7;
    --warn: #eab518;
    --success: #73a839;

    --color1-bg: #1273eb;
    --color1-txt: #ffffff;

    --color2-bg: #57bb6e;
    --color2-txt: #ffffff;

    --color3-bg: #ffffff;
    --color3-txt: #000000;

    --color4-bg: #091329;
    --color4-txt: #ffffff;

    --color5-bg: linear-gradient(90deg, #0d1623 30%, #154785 100%);
    --color5-txt: #ffffff;

    --color6-bg: #f9f9f9;
    --color6-txt: #cccccc;
}
