:root {
    --c1: #00cd56;

    --c1-bg: #242f3a;
    --c1-txt: #fff;

    --c2-bg: #00cd56;
    --c2-txt: #1f1f1f;

    --c3-bg: #d8d8d8;
    --c3-txt: #0c0c0c;
    --c3-txt2: #00cd56;

    --c4-bg: #292d3e;
    --c4-txt: #d8d8d8;

    --c5-bg: rgba(31, 31, 31, 0.815);
}
